@import "../settings/mixins.scss";
@import "../settings/colors.scss";
.steps {
  background-color: $steps-bg;
  color: white;
  &__container {
    margin: 0 1rem;
    padding: 1rem 0;
  }
  &__title {
    text-align: center;
    font-size: toRem(40);
  }
  &__content {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    margin-top: 1rem;
    width: 50%;
    img {
      height: toRem(82);
      display: block;
      margin: 0 auto;
    }
    p {
      margin-top: 0.7rem;
      text-align: center;
    }
  }
}
