@import "../settings/mixins.scss";
@import "../settings/colors.scss";

.menu {
  padding: 2rem 0;
  background-position: center;
  background-repeat: no-repeat;
  img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}

@include desktop {
  .menu {
    background-size: cover;
    background-position: center;
    &__container {
      display: flex;
      justify-content: flex-end;
      max-width: 1024px;
      margin: 0 auto;
    }
    img {
      width: auto;
      display: block;
      margin: 0;
    }
  }
}
