@import "../settings/mixins.scss";
@import "../settings/colors.scss";

.makePizza {
  padding: 3rem 0;
  &__title {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 0.7rem;
  }
  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    &--header {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 0.7rem 0;
    }
    &--item {
      text-align: center;
      font-size: 1.3rem;
      padding: 0.7rem 0;
    }
    &--summary {
      text-align: center;
      font-size: 1.3rem;
      margin-top: 1.4rem;
      padding: 1rem 0;
      border-top: 1px solid #ccc;
    }
  }
  &__type {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    &--btn {
      flex-grow: 1;
      font-size: 1.2rem;
      font-weight: 600;
      text-align: center;
      text-transform: capitalize;
      margin: 1rem 0;
      border: 1px solid #ccc;
      padding: 1rem 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      user-select: none;
    }
    &--active {
      background-color: #c2185b;
      color: white;
    }
  }
  &__list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    li {
      margin: 0.5rem;
      padding: 0.7rem;
      border: 1px solid #ccc;
      font-size: 1.5rem;
      cursor: pointer;
      user-select: none;
      text-transform: capitalize;
    }
    .selected {
      color: white;
      background-color: #2e7d32;
    }
  }
  &__pizza {
    margin: 0.7rem 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    &--name {
      font-size: 1.7rem;
      width: 50%;
    }
    &--ingredients {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      list-style-type: none;
    }
    &--active {
      background-color: #2e7d32;
      color: white;
    }
    &--price {
      width: 50%;
      text-align: center;
    }
    &--icon {
      width: 20%;
      display: flex;
      justify-content: center;
      svg {
        cursor: pointer;
      }
    }
  }

  &__control {
    display: flex;
    justify-content: center;
    width: 100%;
    &--plus,
    &--minus {
      padding: 0 1rem;
      color: #2e7d32;
      font-weight: 600;
      font-size: 1.1rem;
      background-color: white;
      border: none;
      cursor: pointer;
    }
    &--plus {
      border-radius: 0 10px 10px 0;
    }
    &--minus {
      border-radius: 10px 0 0 10px;
    }
    &--quantity {
      text-align: center;
      padding: 0.3rem 1.5rem;
      background-color: white;
      color: black;
    }
  }
  &__summary {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
    .cake,
    .price,
    .ingredients {
      width: 100%;
    }
    &--btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4rem;
      margin: 0 auto;
      padding: 0.7rem 1.5rem;
      border: none;
      color: white;
      background-color: $text-red-main;
      border-radius: 15px;
      font-size: 1.2rem;
      font-weight: 600;
      cursor: pointer;
    }
  }

  &__col {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 0.5rem 1rem;
    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      gap: 0.4rem;
    }
    li,
    p {
      font-size: 1.2rem;
      text-transform: uppercase;
    }
    p {
      text-align: center;
    }
    h4 {
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
      margin: 1rem 0;
    }
  }
}
@include desktop {
  .makePizza {
    &__summary {
      flex-wrap: nowrap;
      .cake,
      .price {
        width: 25%;
      }
      .ingredients {
        width: 50%;
      }
    }
    &__pizza {
      flex-wrap: nowrap;
      &--name {
        width: 30%;
      }
      &--ingredients {
        width: 20%;
        display: block;
      }
      &--price {
        width: 10%;
      }
      &--icon {
        width: 10%;
      }
    }
    &__control {
      width: auto;
      justify-content: none;
    }
  }
}
