@import "../settings/mixins.scss";
@import "../settings/colors.scss";

.makeItem {
  &__title {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 0.7rem;
    margin-top: 1rem;
  }
  &__group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
  }
  &__select {
    flex-grow: 1;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #ccc;
    padding: 1rem 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    user-select: none;
    &--active {
      background-color: #c2185b;
      color: white;
    }
  }
  &__list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 0.3rem;
    margin: 1rem 0;
    li {
      flex-grow: 1;
      padding: 0.7rem;
      border: 1px solid #ccc;
      cursor: pointer;
      user-select: none;
      text-transform: capitalize;
      text-align: center;
    }
    .selected {
      color: white;
      background-color: #2e7d32;
    }
  }
  &__control {
    display: flex;
    justify-content: center;
    width: 100%;
    &--plus,
    &--minus {
      padding: 0 1rem;
      color: #2e7d32;
      font-weight: 600;
      font-size: 1.1rem;
      background-color: white;
      border: none;
      cursor: pointer;
    }
    &--plus {
      border-radius: 0 10px 10px 0;
    }
    &--minus {
      border-radius: 10px 0 0 10px;
    }
    &--quantity {
      text-align: center;
      padding: 0.3rem 1.5rem;
      background-color: white;
      color: black;
    }
  }
  &__summary {
    &--flex {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 1rem;
    }
    &--btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4rem;
      margin: 0 auto;
      padding: 0.7rem 1rem;
      border: none;
      color: white;
      background-color: $text-red-main;
      border-radius: 15px;
      font-weight: 600;
      cursor: pointer;
    }
  }
  &__col {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 0.5rem 1rem;
    &--type,
    &--price,
    &--ingredients {
      width: 100%;
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      gap: 0.4rem;
    }
    li,
    p {
      font-size: 1.1rem;
      text-transform: uppercase;
    }
    p {
      text-align: center;
    }
    h4 {
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
      margin: 1rem 0;
    }
  }
  &__box {
    margin: 0.7rem 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    &--name {
      font-size: 1.7rem;
      width: 70%;
      text-align: center;
    }
    &--ingredients {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      list-style-type: none;
    }
    &--active {
      background-color: #2e7d32;
      color: white;
    }
    &--price {
      width: 100%;
      text-align: center;
    }
    &--description {
      width: 100%;
      text-align: center;
    }
    &--icon {
      width: 20%;
      display: flex;
      justify-content: center;
      svg {
        cursor: pointer;
      }
    }
  }
  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    &--header {
      text-align: center;

      font-weight: 600;
      padding: 0.7rem 0;
    }
    &--item {
      text-align: center;
      padding: 0.7rem 0;
    }
    &--summary {
      text-align: center;
      margin-top: 1.4rem;
      padding: 1rem 0;
      border-top: 1px solid #ccc;
    }
    &--btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4rem;
      margin: 0 auto;
      padding: 0.5rem 0.7rem;
      border: none;
      color: white;
      background-color: $text-red-main;
      border-radius: 15px;
      font-weight: 600;
      cursor: pointer;
    }
  }
  &__elements {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0.7rem 0;
  }
  &__element {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.6rem;
    height: 200px;
    font-size: 1.2rem;
    text-transform: uppercase;
    h3 {
      cursor: pointer;
      text-align: center;
      user-select: none;
    }
    h4 {
      cursor: pointer;
      text-align: center;
      user-select: none;
    }
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    &--active {
      background-color: #2e7d32;
      color: white;
    }
    &--pepsi {
      background-color: #005cb4;
      color: white;
      .active {
        background-color: white;
        color: #005cb4 !important;
      }
    }
    &--fanta {
      background-color: #f7941e;
      color: white;
      .active {
        background-color: white;
        color: #f7941e !important;
      }
    }
    &--sprite {
      background-color: #008b47;
      color: white;
      .active {
        background-color: white;
        color: #008b47 !important;
      }
    }
    &--mirinda {
      background-color: #f56e00;
      color: white;
      .active {
        background-color: white;
        color: #f56e00 !important;
      }
    }
    &--woda {
      background-color: #74ccf4;
      color: white;
      .active {
        background-color: white;
        color: #74ccf4 !important;
      }
    }
  }
  &__size {
    display: flex;
    gap: 0.4rem;
    &--button {
      margin-top: 0.4rem;
      padding: 0.5rem;
      border-radius: 10px;
      font-weight: 600;
      color: white;
      border: none;
      background-color: transparent;
    }
    .active {
      background-color: white;
      color: #2e7d32;
    }
  }
}
@include desktop {
  .makeItem {
    &__group {
      flex-direction: row;
    }
    &__summary {
      &--flex {
        flex-direction: row;
        flex-wrap: nowrap;
      }
      &--type,
      &--price,
      &--ingredients {
        width: auto;
      }
    }
    &__box {
      margin: 0.7rem 0;
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      align-items: center;
      padding: 2rem 0.5rem;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      &--name {
        width: 50%;
      }
      &--ingredients {
        width: 30%;
      }
      &--price {
        width: 40%;
        font-size: 1.2rem;
      }
      &--description {
        width: 30%;
      }
      &--icon {
        width: 10%;
      }
    }
    &__control {
      width: 50%;
      justify-content: flex-end;
    }
    &__elements {
      flex-direction: row;
    }
    &__element {
      width: 30%;
    }
  }
}
