@import "../settings/mixins.scss";
@import "../settings/colors.scss";
.nav {
  position: fixed;
  padding: toRem(13) toRem(30);
  background-color: white;
  width: 100%;
  top: 0;
  z-index: 3;
  a {
    text-decoration: none;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__contant--mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  &__contant--desktop {
    display: none;
  }
  &__toggle {
    cursor: pointer;
    margin-left: 1rem;
  }
  &__link {
    font-size: toRem(32);
    text-transform: uppercase;
    color: $text-red-main;
    margin: 0.4rem;
  }
  &__btns--mobile {
    margin-top: 0.4rem;
    display: flex;
    gap: 0.6rem;
  }
  &__btns--desktop {
    display: none;
  }
  &__user {
    font-size: 1.4rem;

    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 0.3rem 0.7rem;
    border-radius: 20px;
  }
  &__cart {
    position: relative;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 0.3rem 0.7rem;
    border-radius: 20px;
    cursor: pointer;
    p {
      position: absolute;
      bottom: -5px;
      right: -5px;
      font-size: 0.8rem;
      width: 1.4rem;
      height: 1.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $text-red-main;
      color: white;
      border-radius: 50%;
    }
  }
  &__btn {
    width: toRem(90);
    padding: 0.3rem;
    border-radius: 15px;
    background-color: $text-red-main;
    color: white;
    display: block;
    text-align: center;
    font-weight: 600;
    outline: none;
    border: none;
  }
  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: toRem(44);
      margin-right: 0.5rem;
    }
    h3 {
      color: $text-red-main;
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

@include desktop {
  .nav {
    &__toggles {
      display: none;
    }
    &__contant--mobile {
      display: none;
    }
    &__contant--desktop {
      display: flex;
      gap: 1.5rem;
    }
    &__btns--desktop {
      display: flex;
      gap: 1rem;
    }
    &__link {
      font-weight: 600;
    }
  }
}
