@import "../settings/mixins.scss";
@import "../settings/colors.scss";

.dishes {
  &__container {
    @include fixNavbar;
    min-height: 100vh;
    background-color: #eeeeee;
  }
  &__sidebar {
    font-family: "Pacifico", cursive;
    position: fixed;
    top: toRem(94);
    width: 100%;
    background-color: $text-red-main;
    color: white;
    min-height: calc(100vh - toRem(94));
    ul {
      list-style: none;
    }
    li {
      padding: 0.6rem 1rem;
      font-size: toRem(36);
      cursor: pointer;
    }
  }
  &__title {
    margin-top: 1rem;
    font-size: toRem(42);
    text-align: center;
    text-transform: uppercase;
  }
  &__content {
    padding-bottom: 1rem;
  }
}

@include desktop {
  .dishes {
    &__container {
      display: flex;
      height: 100vh;
    }
    &__sidebar {
      width: 25%;
      position: static;
    }
    &__content {
      width: 75%;
      overflow-y: scroll;
    }
  }
}
